<h1 id="diagrams">Diagrams</h1>
<p>Here are the flow of messages during a game lifecycle.</p>
<p>We use <a href="https://bramp.github.io/js-sequence-diagrams/">js-sequence-diagrams</a> to render the diagrams. Here are the definitions.</p>
<p><strong>start game</strong></p>
<pre class="diagram"><code>Title: TTUDP Interaction diagram - start game
Client-&gt;Server: InitMessage
Server-&gt;Client: SimpleMessage(msg_init)
Client-&gt;Server: SimpleMessage(msg_start)
Server-&gt;Client: ScoreMessage</code></pre>
<p><strong>play</strong></p>
<pre class="diagram"><code>Title: TTUDP Interaction diagram - play 
Client-&gt;Server: MvmtMessage
Server-&gt;Client: MvmtMessage
Client-&gt;Server: MvmtMessage
Server-&gt;Client: MvmtMessage
FrameGenerator--&gt;Server: playersMessage
Server-&gt;Client: ScoreMessage</code></pre>
<p><strong>end game</strong></p>
<pre class="diagram"><code>Title: TTUDP Interaction diagram - end game 
participant FrameGenerator
participant Server
participant PlayerHandler

FrameGenerator--&gt;Server: playersMessage
Server-&gt;Client: SimpleMessage(msg_gameover)
Client-&gt;PlayerHandler: close ws
PlayerHandler--&gt;Server: SimpleMessage(msg_close)</code></pre>
<!-- scripts to render the diagrams -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-sequence-diagrams/1.0.6/sequence-diagram-min.js"></script>
<script>
// render the codes of type diagram to actual diagrams ^^
$(function(){
    $(".diagram code").each(function(){
        var txt = $(this).text();
        $('<div class="render-diagram"/>').text(txt).insertAfter($(this).parent());
    });
    $(".render-diagram").sequenceDiagram({theme: 'simple'});
});
</script>
