<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="icon-toggle.html">
<dom-module id="acc-chooser">
    <template>
        <style>
        :host {
            --icon-toggle-color: lightgrey;
            --icon-toggle-outline-color: black;
            --icon-toggle-pressed-color: red;
            font-family: sans-serif;
        }
        
        ;
        </style>
        <div>
            <div style="display: table;">
                <div style="display: table-row">
                  <div style="display: table-cell;vertical-align: middle;">{{localize('acc')}}: {{localize(currentNameAcc)}}</div>
                </div>
            </div>
            <br/>
            <template is="dom-repeat" items="{{choices}}" id="acctypes">
                <paper-button id="btAcc{{item.id}}" raised on-tap="accClick" style="width: 28%;margin-bottom:15px">{{localize(item.name)}}</paper-button>
            </template>
        </div>
    </template>
    <script>
    //var imgColor = new Image();
    //img.onload = start;
    //img.src = "paddle.png";
    Polymer({
        is: "acc-chooser",
        properties: {
            choices: {
                type: Array,
                value: [{
                    name: 'none',
                    img: 'none.png',
                    id: 0
                }, {
                    name: '90',
                    img: '90.png',
                    id:1
                }, {
                    name: '180',
                    img: '180.png',
                    id:2
                },],
            },
            currentIdAcc: {
                type: Number,
                value: "1",
            },
            currentNameAcc: {
                type: String,
                value: "90",
            },
            language: {
              value: 'it',
              type: String
            }
        },
        behaviors: [
        Polymer.AppLocalizeBehavior
      ],
      attached: function() {
        this.loadResources(this.resolveUrl('languages.json'));
      },
        ready: function() {
          if (window.DeviceMotionEvent == undefined) {
            
            this.currentIdAcc = 0;
            this.currentNameAcc = 'none';
            //this.$.btAcc1.disabled = true;
            //this.$.btAcc2.disabled = true;
          }else{
            this.currentIdAcc = 1;
            this.currentNameAcc = "90";
            //this.$.btAcc1.disabled = false;
            //this.$.btAcc2.disabled = false;
          }
        },
        accClick: function(e) {
            this.currentIdAcc = e.model.get('item.id');
            this.currentNameAcc = e.model.get('item.name');
        },
        getAccId: function() {
            return this.currentIdAcc;
        }
    });
    </script>
</dom-module>
