<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="icon-toggle.html">
<dom-module id="color-chooser">
    <template>
        <style>
        :host {
            --icon-toggle-color: lightgrey;
            --icon-toggle-outline-color: black;
            --icon-toggle-pressed-color: red;
            font-family: sans-serif;
        }
        
        ;
        </style>
        <div>
            <div style="display: table;">
                <div style="display: table-row">
                  <div style="display: table-cell;vertical-align: middle;">{{localize('racketcolor')}}:</div>
                  <div style="display: table-cell;""><canvas id="padleCanvas" width="130px" height="91px"></canvas></div>
                </div>
            </div>
            <br/>
            <template is="dom-repeat" items="{{colors}}">
                <paper-button id="btColor{{index}}" raised on-tap="colorclick" style="background-color:{{item.hexcolor}};width: 28%;margin-bottom:15px">{{localize(item.name)}}</paper-button>
            </template>
        </div>
    </template>
    <script>
    //var imgColor = new Image();
    //img.onload = start;
    //img.src = "paddle.png";
    Polymer({
        is: "color-chooser",
        properties: {
            colors: {
                type: Array,
                value: [{
                    name: 'blue',
                    hexcolor: '#007cb7'
                }, {
                    name: 'grey',
                    hexcolor: '#aca39a'
                }, {
                    name: 'purple',
                    hexcolor: '#6e298d'
                }, {
                    name: 'red',
                    hexcolor: '#e71939'
                }, {
                    name: 'orange',
                    hexcolor: '#fbaf5f'
                }, {
                    name: 'green',
                    hexcolor: '#00aa4f'
                },],
            },
            currentHexColor: {
                type: String,
                value: "#007cb7",
            },
            language: {
          value: 'it',
          type: String
        }
        },
        behaviors: [
        Polymer.AppLocalizeBehavior
      ],
      attached: function() {
        this.loadResources(this.resolveUrl('languages.json'));
      },
        colorclick: function(e) {
            this.currentHexColor = e.model.get('item.hexcolor');
            this.currentNameColor = e.model.get('item.name');
            this.recolore();
        },
        getColor: function() {
            return this.currentHexColor;
        },
        ready: function() {
          this.canvas = this.$.padleCanvas;
          this.ctx = this.canvas.getContext("2d");
          this.imgBack = new Image();
          this.imgBack.src = "paddle.png";
          this.imgColor = new Image();
          this.imgColor.src = "paddle_color.png";
          this.ctx.drawImage(this.imgBack, 0, 0);
          this.ctx.drawImage(this.imgColor, 0, 0);
          this.recolore();
        },
        recolore: function() {
          this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height);
          this.ctx.drawImage(this.imgColor, 0, 0);
          var imgData = this.ctx.getImageData(0, 0, this.canvas.width, this.canvas.height);
          var data = imgData.data;
          var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(this.currentHexColor);
          for (var i = 0; i < data.length; i += 4) {
              data[i + 0] = parseInt(result[1], 16);
              data[i + 1] = parseInt(result[2], 16);
              data[i + 2] = parseInt(result[3], 16);
          }
          this.ctx.putImageData(imgData, 0, 0);
          this.ctx.drawImage(this.imgBack, 0, 0);
        }
    });
    </script>
</dom-module>
