<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<dom-module id="icon-toggle">


  <template>

    <style>
      :host {
        display: inline-block;
      }
      iron-icon {
        fill: var(--icon-toggle-color, rgba(0,0,0,0));
        stroke: var(--icon-toggle-outline-color, currentcolor);
      }
      :host([pressed]) iron-icon {
        fill: var(--icon-toggle-pressed-color, currentcolor);
      }    
    </style>
    
    <!-- local DOM goes here -->
    <iron-icon icon="[[toggleIcon]]">
    </iron-icon>

  </template>

  <script>
  Polymer({
    is: 'icon-toggle',
    properties: {
      toggleIcon: {
        type: String
      },
      pressed: {
        type: Boolean,
        value: false,
        notify: true,
        reflectToAttribute: true
      },
    },
    toggle: function() {
      this.pressed = !this.pressed;
    },
  });
  </script>

</dom-module>