#accBt {
    position: fixed;
    right: 5%;
}

#upBt {
    color: white;
    background-color: #007CB7;
    position: fixed;
    top: 10%;
    left: 5%;
    height: 35%;
    width: 90%;
}

#dnBt {
    color: white;
    background-color: #007CB7;
    position: fixed;
    top: 47%;
    left: 5%;
    height: 35%;
    width: 90%;
}

#qBt {
    color: white;
    background-color: #007CB7;
    position: fixed;
    top: 89%;
    left: 5%;
    width: 90%;
}

#gameoverImg {
    width: 75%;
    height: auto;
}

#accChoice {
    position: relative;
    left: 5%;
    width:90%;
}

#accView {
    display: none;
    position: fixed;
    top: 10%;
    left: 5%;
    height: 75%;
    width: 90%;
    background-color: #007CB7;
}

#ball {
    position: relative;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#columnCanvas{
    padding-top: 5px;
    padding-bottom: 10px;
    width: 95%;
}

#countdown{
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.6;
    z-index: 10;
}

.allwidh {
    left: 5%;
    width: 90%;
    color: white;
    background-color: #007CB7;
}

.langbt {
    width: 20%;
    color: white;
    background-color: #007CB7;
}

.langSpan {
    color: white;
    background-color: #007CB7;
    padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
}


.arrowImg {
    height: 95%;
    width: 95%;
}

.bluecard {
    text-align: center;
    color: white;
    background-color: #007CB7;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 90%;
    left: 5%;
    position: relative;
}

html { 
  background: url(bg_logo.png) no-repeat center center fixed; 
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
    font-family: sans-serif;
    min-height: 100%;
}