<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="icon-toggle.html">
<dom-module id="ttudp-footer">
    <template>
        <style>
        :host {
            --icon-toggle-color: lightgrey;
            --icon-toggle-outline-color: black;
            --icon-toggle-pressed-color: red;
            font-family: sans-serif;
        }
        
        .bottomImg {
            position: relative;
            width: 90%;
            height: auto;
            left: 5%;
        }
        
        .bottomDiv {
            position: relative;
            width: 100%;
            left: 0%;
            padding-top: 25px;
        }
        </style>
        <div class="bottomDiv">
            <img src="heiafr.png" class="bottomImg" />
        </div>
    </template>
    <script>
    Polymer({
        is: "ttudp-footer",
    });
    </script>
</dom-module>
