<!doctype html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <script src="bower_components/webcomponentsjs/webcomponents-hi.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="manifest" href="manifest.json">
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="bower_components/iron-icons/device-icons.html">
    <link rel="import" href="bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="bower_components/iron-list/iron-list.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-card/paper-card.html">
    <link rel="import" href="bower_components/paper-radio-button/paper-radio-button.html">
    <link rel="import" href="bower_components/paper-radio-group/paper-radio-group.html">
    <link rel="import" href="bower_components/iron-image/iron-image.html">
    <link rel="import" href="bower_components/iron-data-table/iron-data-table.html">
    <link rel="import" href="bower_components/app-localize-behavior/app-localize-behavior.html">

    <link rel="import" href="ttudp-lifes.html">
    <link rel="import" href="color-chooser.html">
    <link rel="import" href="acc-chooser.html">
    <link rel="import" href="ttudp-header.html">
    <link rel="import" href="ttudp-footer.html">
    <link rel="stylesheet" href="style.css">
    <script>
    var socketUrl = "ws://" + window.location.host + "/ws";
    </script>
</head>

<body unresolved>

    <dom-module id="ttudp-app">
    <template id="t" is="dom-bind">
        <iron-pages id="ironPages" attr-for-selected="name" selected="index">

            <div name="index">
                <ttudp-header id="ttudpheader1"></ttudp-header>
                <br/><br/>
                <center>
                <span class="langSpan" raised on-tap="changeLang" data-lang="fr">
                    FR
                </span><span class="langSpan" raised on-tap="changeLang" data-lang="de">
                    DE
                </span><span class="langSpan" raised on-tap="changeLang" data-lang="it">
                    IT
                </span><span class="langSpan" raised on-tap="changeLang" data-lang="en">
                    EN
                </span>
                </center>
                <br/><br/><br/>
                <paper-button class="allwidh" raised on-tap="gotoMenu">
                    {{localize('play')}}
                </paper-button>
                <br/><br/>
                <paper-button class="allwidh" raised on-tap="gotoViewScore">
                    {{localize('scores')}}
                </paper-button>
                <ttudp-footer></ttudp-footer>
            </div>


            <div name="menu">
                <ttudp-header id="ttudpheader2"></ttudp-header>
                <center>
                    <color-chooser id="colorChooser"></color-chooser>
                    <br/>
                    <acc-chooser id="accChooser"></acc-chooser>
                </center>
                <br/>
                <paper-button class="allwidh" raised on-tap="sendInit">
                    <iron-icon icon="arrow-forward"></iron-icon>{{localize('next')}}
                </paper-button>
                <ttudp-footer></ttudp-footer>
            </div>


            <div name="go">
                <ttudp-header id="ttudpheader3"></ttudp-header>
                <paper-card class="bluecard">
                    <center>
                        {{localize('colid','idCol',idCol)}}
                        <br/>
                        <canvas id="columnCanvas" width="645px" height="45px"></canvas>
                        <br/>
                        <div style="width: 95%;">
                            {{localize('findpos')}}
                            <br/>
                        </div>
                    </center>
                </paper-card>
                <paper-button raised on-tap="gotoGame" class="allwidh">{{localize('go')}}</paper-button>
                <ttudp-footer></ttudp-footer>
            </div>


            <div name="game">
                <div id="countdown">
                    <center>
                        <h1>{{localize('prepare')}}</h1>
                        <h1 style="font-size: 150pt" id="countdownText">3</h1>
                    </center>
                </div>
                <ttudp-lifes id="lifes"></ttudp-lifes>
                </paper-button>
                <paper-button id="upBt" raised on-tap="sendUp">
                    <iron-image class="arrowImg" src="up_a9.png" sizing="contain"></iron-image>
                </paper-button>
                <paper-button id="dnBt" raised on-tap="sendDown">
                    <iron-image class="arrowImg" src="down_a9.png" sizing="contain"></iron-image>
                </paper-button>
                <div id="accView">
                    <img src="ball.png" id="ball" />
                </div>
                <paper-button id="qBt" raised on-tap="sendStop">
                    {{localize('stop')}}
                </paper-button>
            </div>


            <div name="gameover">
                <ttudp-header id="ttudpheader4"></ttudp-header>
                <paper-card class="bluecard">
                <div style="width: 90%; left:5%;position: relative;"> 
                    <center>
                        <img id="gameoverImg" src="gameover.png" />
                        <h1 style="font-size: 20pt">{{localize('yourscore')}}: <span id="spanScore">0</span><br/>{{localize('yourbest')}}: <span id="spanBestScore">0</span></h1>
                    </center>
                </div>
                </paper-card>
                <paper-button id="replayBt" raised on-tap="sendReplayBt" class="allwidh">
                    {{localize('replay')}}
                </paper-button>
                <br/><br/>
                <paper-button id="gotoAddScoreButton" raised on-tap="gotoAddScore" class="allwidh">
                    {{localize('save')}}
                </paper-button>
                <br/><br/>
                <paper-button class="allwidh" raised on-tap="gotoViewScore">
                    {{localize('scores')}}
                </paper-button>
                <br/><br/>
                <paper-button raised on-tap="gotoIndex" class="allwidh">
                    {{localize('exit')}}
                </paper-button>
                
                <ttudp-footer></ttudp-footer>
            </div>

            <div name="addscore">
                <ttudp-header id="ttudpheader5"></ttudp-header>
                <paper-card class="bluecard">
                <div style="width: 90%; left:5%;position: relative;"> 
                    <center>
                        <h1 style="font-size: 20pt">{{localize('yourbest')}}: <span id="spanAddScore">0</span></h1>
                        <br/>
                        <paper-input label="{{localize('username')}}" value="{{username}}">
                        </paper-input>
                    </center>
                </div>
                </paper-card>
                <paper-button raised on-tap="addScore" class="allwidh">
                    {{localize('save')}}
                </paper-button>
                <br/><br/>
                <paper-button raised on-tap="gotoGameover" class="allwidh">
                    {{localize('back')}}
                </paper-button>
                <ttudp-footer></ttudp-footer>
            </div>

            <div name="viewscore">
                <ttudp-header id="ttudpheader6"></ttudp-header>
                <div style="width: 90%; left:5%;position: relative;">
                <paper-button raised on-tap="showTopAll" style="width: 28%;margin-bottom:15px">{{localize('all')}}</paper-button>
                <paper-button raised on-tap="showTopDaily" style="width: 28%;margin-bottom:15px">{{localize('daily')}}</paper-button>
                <paper-button raised on-tap="showTopHourly" style="width: 28%;margin-bottom:15px">{{localize('hourly')}}</paper-button>
                </div>
                <br/>
                <iron-ajax id="ajaxLeaderboard" url="leaderboard" last-response="{{data}}" auto></iron-ajax>
                <paper-card class="bluecard">
                <div style="width: 90%; left:5%;position: relative;">
                <iron-pages id="ironPageScore" attr-for-selected="name" selected="all">
                    <div name="all">
                        <iron-data-table items="[[data.top_score]]" style="height: 300px">
                            <data-table-column name="#" width="25px" flex="0" style="">
                              <template>{{inc(index)}}</template>
                            </data-table-column>
                            <data-table-column name="Score" width="60px" align-right>
                              <template>[[item.score]]</template>
                            </data-table-column>
                            <data-table-column name="Pseudo">
                              <template>[[item.username]]</template>
                            </data-table-column>
                        </iron-data-table>
                    </div>

                    <div name="daily">
                        <iron-data-table items="[[data.top_daily_score]]" style="height: 300px">
                            <data-table-column name="#" width="25px" flex="0" style="">
                              <template>{{inc(index)}}</template>
                            </data-table-column>
                            <data-table-column name="Score" width="60px" align-right>
                              <template>[[item.score]]</template>
                            </data-table-column>
                            <data-table-column name="Pseudo">
                              <template>[[item.username]]</template>
                            </data-table-column>
                        </iron-data-table>
                    </div>

                    <div name="hourly">
                        <iron-data-table items="[[data.top_hourly_score]]" style="height: 300px">
                            <data-table-column name="#" width="25px" flex="0" style="">
                              <template>{{inc(index)}}</template>
                            </data-table-column>
                            <data-table-column name="Score" width="60px" align-right>
                              <template>[[item.score]]</template>
                            </data-table-column>
                            <data-table-column name="Pseudo">
                              <template>[[item.username]]</template>
                            </data-table-column>
                        </iron-data-table>
                    </div>
                </iron-pages>
                </div>
                </paper-card>
                <paper-button raised on-tap="backScore" class="allwidh">
                    {{localize('back')}}
                </paper-button>
                <ttudp-footer></ttudp-footer>
            </div>
        </iron-pages>
    </template>
        <script>
Polymer({
  is: "ttudp-app",
  behaviors: [
    Polymer.AppLocalizeBehavior
  ],
  properties: {
    /* Overriden from AppLocalizeBehavior */
    language: {
      value: 'it',
      type: String
    }
  },
  attached: function() {
    this.loadResources(this.resolveUrl('languages.json'));
  },
  created: function(){
    $(document).keydown(function(e){
        if(this.$.ironPages.selected=="game" && this.canSendNextMvmt){
            if(e.keyCode==38){
                this.sendUp();
            }else if(e.keyCode==40){
                this.sendDown();
            }
        }
    }.bind(this));
    this.imgScreen = new Image();
    this.imgScreen.src = "screen.png";
    this.accMode = 0;
    //this.idCol = 0;
    this.isReplay = false;
    this.bestScore = 0;
    this.delay = 200;
    this.lastPage = "index";
    // enable vibration support
    navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;
    
    setTimeout(function() { this.$.colorChooser.recolore(); }.bind(this), 1000);
    if (navigator.vibrate) {
        this.canVibrate=true;
    }
},
  gotoMenu: function() {
        this.$.ironPages.selected = "menu";
  },
  gotoGo: function(){
        this.$.ironPages.selected = "go";
        this.goTimeout = setTimeout(function() {
            this.$.ironPages.selected = "menu";
            this.socket.close();
        }, 30000);
  },
  gotoGame: function(){
        this.accMode = this.$.accChooser.getAccId();
        clearTimeout(this.goTimeout);
        this.$.upBt.disabled = true;
        this.$.dnBt.disabled = true;
        if (this.accMode>0) {
            this.$.upBt.style.display = "none";
            this.$.dnBt.style.display = "none";
            this.$.accView.style.display = "initial";
        } else {
            this.$.upBt.style.display = "initial";
            this.$.dnBt.style.display = "initial";
            this.$.accView.style.display = "none";
        }
        this.$.ironPages.selected = "game";
        this.$.countdown.style.display = "initial";
        this.countdown = 3;
        this.$.countdownText.innerHTML = this.countdown;
        this.beginGameInt = setInterval(
            function(){
                this.countdown--;
                this.$.countdownText.innerHTML = this.countdown;
                if(this.countdown==0){
                    this.sendGo();
                    this.$.countdown.style.display = "none";
                    clearInterval(this.beginGameInt);
                }
            }.bind(this), 1000
        );
    },
    sendGo : function() {
        var msg = {
            type: "s"
        };
        console.log(JSON.stringify(msg));
        this.socket.send(JSON.stringify(msg));
    },
    sendUp : function() {
        this.sendMvmt(-1);
    },
    sendDown : function() {
        this.sendMvmt(1);
    },
    sendMvmt : function(direction) {
        this.$.upBt.disabled = true;
        this.$.dnBt.disabled = true;
        this.canSendNextMvmt = false;
        var msg = {
            type: "m",
            direction: direction
        };
        console.log(JSON.stringify(msg));
        this.socket.send(JSON.stringify(msg));
    },
    sendPos : function(position) {
        this.canSendNextMvmt = false;
        var msg = {
            type: "m",
            position: position
        };
        console.log(JSON.stringify(msg));
        this.socket.send(JSON.stringify(msg));
    },
    sendStop : function() {
        this.gotoGameover();
    },
    sendReplayBt : function(){
        this.isReplay=true;
        this.sendInit();
    },
    sendShowScoreBt : function(){
        location.href="/";
    },
    redrawColumn : function() {
        this.canvas = this.$.columnCanvas;
        this.ctx = this.canvas.getContext("2d");
        this.ctx.drawImage(this.imgScreen, 0, 0);
        var imgData = this.ctx.getImageData(3+5*(this.idCol-1), 0, 4, this.canvas.height);
        var data = imgData.data;
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(this.$.colorChooser.getColor());
        for (var i = 0; i < data.length; i += 4) {
            if(data[i+0]==0&&data[i+1]==0&&data[i+2]==0){
                data[i + 0] = parseInt(result[1], 16);
                data[i + 1] = parseInt(result[2], 16);
                data[i + 2] = parseInt(result[3], 16);
            }
        }
        this.ctx.putImageData(imgData, 3+5*(this.idCol-1), 0);
    },
    gotoIndex: function() {
        this.$.ironPages.selected = "index";
        this.lastPage = "index";
    },
    gotoGameover : function() {
        this.$.ironPages.selected = "gameover";
        this.lastPage = "gameover";
        this.$.lifes.looseLife();
        this.nbLife--;
        window.removeEventListener("devicemotion", this.accEvent, true);
        this.socket.close();
        if(this.score>this.bestScore){
            this.bestScore = this.score;
        }
        this.$.spanScore.innerHTML = this.score;
        this.$.spanBestScore.innerHTML = this.bestScore;
        this.$.gotoAddScoreButton.disabled=false;

    },
    gotoViewScore : function() {
        this.$.ajaxLeaderboard.generateRequest();
        this.$.ironPages.selected = "viewscore";
        this.$.ironPageScore.selected="all";
    },
    gotoAddScore : function() {
        this.$.ironPages.selected = "addscore";
        this.$.spanAddScore.innerHTML = this.bestScore;
    },
    addScore : function(){
        this.$.ironPages.selected = "gameover";
        this.lastPage = "gameover";
        this.$.gotoAddScoreButton.disabled=true;
        $.get(
            "save-score",
            {username : this.username, score : this.bestScore},
            function(data) {}
        );
    },
    backScore:function(){
        this.$.ironPages.selected = this.lastPage;
    },

    showTopAll:function(){
        this.$.ajaxLeaderboard.generateRequest();
        this.$.ironPageScore.selected="all";
    },
    showTopDaily:function(){
        this.$.ajaxLeaderboard.generateRequest();
        this.$.ironPageScore.selected="daily";
    },
    showTopHourly:function(){
        this.$.ajaxLeaderboard.generateRequest();
        this.$.ironPageScore.selected="hourly";
    },
    inc:function(i){
        return i+1
    },
    changeLang:function(e){
        const lang = e.target.dataset.lang;
        this.language=lang;
        this.$.ttudpheader1.language=lang;
        this.$.ttudpheader2.language=lang;
        this.$.ttudpheader3.language=lang;
        this.$.ttudpheader4.language=lang;
        this.$.ttudpheader5.language=lang;
        this.$.ttudpheader6.language=lang;
        this.$.colorChooser.language=lang;
        this.$.accChooser.language=lang;
        this.$.lifes.language=lang;
    },
    sendInit : function() {
        //var cookie = getCookie("ttUDP_pos");
        //var key="";
        var pos=this.idCol;
        //console.log(cookie);
        /*if(cookie!=""){
            try{
                key=JSON.parse(cookie).key;
                pos=JSON.parse(cookie).position;
            }catch (e) {
              console.error("Error parsing JSON:", e); 
            }
        }*/
        this.socket = new WebSocket(socketUrl);
        this.socket.onopen = function(event){
            var msg = {
                type: "i",
                color: hexToInt(this.$.colorChooser.getColor()),
                height: 3,
                position: pos
            };
            console.log(JSON.stringify(msg));
            this.socket.send(JSON.stringify(msg));
        }.bind(this),
        this.socket.onerror = function (event) {
            location.reload();
        };
        this.socket.onmessage = function(event) {
            console.log(event.data);
            var msg = JSON.parse(event.data);

            switch (msg.type) {
                case "i": //init
                    if(!this.isReplay || msg.id!=this.idCol){
                        this.idCol = msg.id;
                        this.redrawColumn();
                        this.gotoGo();
                    }else{
                        this.gotoGame();
                    }
                    break;
                case "s": //start
                    this.nbLife = msg.lives;
                    this.score = msg.points;
                    this.$.lifes.totalNb = this.nbLife;
                    this.$.lifes.currentNb = this.nbLife;
                    this.$.lifes.score = this.score;
                    this.canSendNextMvmt = true;
                    this.$.lifes.updateLifes();
                    if (this.accMode>0) {
                        window.addEventListener("devicemotion", function(e) {
                            var aY = 0.0;
                            if(this.accMode==1)
                                aY = e.accelerationIncludingGravity.y * -1 * (10/7)+4.5;
                            else
                                aY = e.accelerationIncludingGravity.y * -1 * (10/14);
                            if (this.canSendNextMvmt){
                                if(aY>5){
                                    this.$.ball.style.top = "95%";
                                    this.sendPos(5);
                                }else if(aY<-5){
                                    this.sendPos(-5);
                                    this.$.ball.style.top = "5%";
                                }else{
                                    this.sendPos(aY);
                                    this.$.ball.style.top = ((aY+5)*9+5)+"%";
                                }
                            }
                        }.bind(this), true);
                    } else {
                        this.$.upBt.disabled = false;
                        this.$.dnBt.disabled = false;
                    }
                    break;
                case "m": //mouvement
                    if (this.accMode==0) {
                        this.$.upBt.disabled = false;
                        this.$.dnBt.disabled = false;
                    }
                    this.canSendNextMvmt = true;
                    break;
                case "p": //point
                    newLife = msg.lives;
                    newScore = msg.points;
                    if (newLife < this.nbLife) {
                        if(this.canVibrate){
                            setTimeout(function() {
                                navigator.vibrate(500);
                            }, this.delay);
                        }
                        this.$.lifes.looseLife();
                        this.nbLife--;
                    }
                    if (newScore > this.score) {
                        if(this.canVibrate){
                            setTimeout(function() {
                                navigator.vibrate([100,50,100]);
                            }, this.delay);
                        }
                        this.$.lifes.score = newScore;
                        this.score = newScore;
                    }
                    break;
                case "x": //gameover
                    if(this.canVibrate){
                        setTimeout(function() {
                            navigator.vibrate(500);
                        }, this.delay);
                    }
                    this.gotoGameover();
                    break;
            }
        }.bind(this);
    }
});
    </script>
    </dom-module>
    <script src="ttudp.js"></script>
</body>

</html>
