<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="icon-toggle.html">


<dom-module id="ttudp-lifes">
  <template>
    <style>
      #lifes{
        position: absolute;
        left: 5%;
      }
      #score{
        font-size: 20pt;
        vertical-align: middle;
        display: inline-block;
        margin-left: 10pt;
      }
      :host {
        --icon-toggle-color: lightgrey;
        --icon-toggle-outline-color: black;
        --icon-toggle-pressed-color: red;        
        font-family: sans-serif;
      };
    </style>
    <div id="lifes">
      <template is="dom-repeat" items="{{_arrayContainer}}">
        <icon-toggle toggle-icon="favorite" pressed={{_isRed(index)}} id="heart{{index}}"></icon-toggle>
      </template>
      <span style="width: 5pt;"> </span><span id="score">{{localize('score')}}: {{score}}</span>
    </div>
  </template>
  
  <script>
    Polymer({
      is: "ttudp-lifes",
      properties:{
        totalNb: {
          type: Number,
          value: 3
        },
        score: {
          type: Number,
          value: 0
        },
        currentNb: {
          type: Number,
          value: 3,
          notity: true,
          reflectToAttribute: true
        },
        _arrayContainer: {
          type: Array ,
          value: [],
          computed: '_numberToArray(totalNb)'
        },
        language: {
      value: 'it',
      type: String
    }
      },
      behaviors: [
    Polymer.AppLocalizeBehavior
  ],
  attached: function() {
    this.loadResources(this.resolveUrl('languages.json'));
  },
      _numberToArray: function(totalNo) {
        var array = [], i;
        for (i = 0; i < totalNo; ++i) {
          array.push(i);
        };
        return array;
      },
      _isRed: function(index) {
        return index<this.currentNb;
      },
      looseLife: function(){
        this.currentNb--;
        this.updateLifes();
      },
      updateLifes: function(){
        for(i=0;i<this.totalNb;i++){
          if(i<this.currentNb){
            var h = document.querySelector('#heart'+i);
            h.pressed=true;
          }else{
            var h = document.querySelector('#heart'+i);
            h.pressed=false;
          }
        }
      },
    });
  </script>
</dom-module>