<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="icon-toggle.html">
<dom-module id="ttudp-header">
    <template>
        <style>
        :host {
            --icon-toggle-color: lightgrey;
            --icon-toggle-outline-color: black;
            --icon-toggle-pressed-color: red;
            font-family: sans-serif;
        }
        
        .titleDiv {
            width: 90%;
            left: 5%;
            font-size: 150%;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            position: relative;
        }
        
        ;
        </style>
        <div class="titleDiv">{{localize('ttudp')}}</div>
    </template>
    <script>
    Polymer({
        is: "ttudp-header",
        behaviors: [
        Polymer.AppLocalizeBehavior
      ],
      properties: {
        /* Overriden from AppLocalizeBehavior */
        language: {
          value: 'it',
          type: String
        }
      },
      attached: function() {
        this.loadResources(this.resolveUrl('languages.json'));
      }
    });
    </script>
</dom-module>